
<p>
Bij bestellingen via www.shirtsKV.nl gelden de volgende algemene voorwaarden:<br><br>
<br>
<b>Algemeen</b><br>
1. Deze algemene voorwaarden zijn van toepassing op alle producten van shirtsKV.nl en op alle met shirtsKV.nl aangegane overeenkomsten.<br>
2. Indien de klant verwijst naar zijn/haar voorwaarden, zijn die voorwaarden niet van toepassing tenzij hiermee uitdrukkelijk schriftelijk door shirtsKV.nl is ingestemd.<br>
3. Van het in deze Algemene Voorwaarden bepaalde kan uitsluitend worden afgeweken indien dit uitdrukkelijk schriftelijk is overeengekomen en waarbij de overige bepalingen van deze Algemene Voorwaarden van kracht blijven.<br>
4. Het doen van een bestelling houdt in dat de klant deze Algemene Voorwaarden aanvaardt<br>
5. Onder "klant" wordt verstaan; iedere bezoeker van de internetsite dan wel elke natuurlijke persoon of rechtspersoon die met shirtsKV.nl in een contractuele relatie van welke aard dan ook staat of komt te staan.<br>
6. shirtsKV.nl behoudt zich het recht voor deze Algemene Voorwaarden te wijzigen of aan te vullen.<br>
7. shirtsKV.nl is bevoegd gebruik te maken van tussenpersonen en andere derden bij de uitvoering van een overeenkomst met de klant. Deze Algemene Voorwaarden zijn in dat geval eveneens van toepassing.<br>
<br>
<b>Producten/ overeenkomsten </b><br>
1. shirtsKV.nl behoudt zich het recht voor om de prijzen te wijzigen.<br>
2. Een overeenkomst komt tot stand op het moment dat een orderbevestiging van een door de klant verstrekte opdracht per e-mail is verzonden naar het door de klant opgegeven e-mail adres. De klant en shirtsKV.nl komen uitdrukkelijk overeen dat door gebruik te maken van elektronische communicatievormen een geldige overeenkomst tot stand komt zodra deze orderbevestiging aan de klant is verzonden. De elektronische bestanden van shirtsKV.nl gelden, voor zover de wet dit toelaat, hierbij als bewijs.<br>
3. Informatie, afbeeldingen, mededelingen mondeling, telefonisch of via e-mail verstrekt en opgaven etc. met betrekking tot alle aanbiedingen en de belangrijkste kenmerken van de producten worden zo nauwkeurig mogelijk weergegeven of gedaan. shirtsKV.nl garandeert echter niet dat alle producten volledig met de gegeven informatie etc. in overeenstemming zijn. Afwijkingen kunnen geen aanleiding zijn tot schadevergoeding en/ of ontbinding.<br>
<br>
<b>Prijs en betaling. </b><br>
1. De geldende prijzen worden bij ieder artikel vermeld. Eventuele fouten zijn voorbehouden.<br>
2. Alle door shirtsKV.nl vermelde prijzen zijn uitgedrukt in Euro’s, inclusief omzetbelasting en exclusief verzendkosten, tenzij anders vermeld of schriftelijk overeengekomen.<br>
3. De prijzen zijn alleen geldig in Nederland. Voor buitenlandse zendingen dient u contact op te nemen met shirtsKV.nl.<br>
4. Speciale aanbiedingen zijn slechts geldig voor de geldigheidsduur zoals vermeld op de internetsite met betrekking tot die speciale aanbieding.<br>
5. shirtsKV.nl kan niet aan haar aanbiedingen worden gehouden indien de klant, naar termijn van redelijkheid en in het maatschappelijke verkeer gangbare opvattingen, had behoren te begrijpen dat de aanbieding dan wel een onderdeel daarvan een kennelijke vergissing of verschrijving bevat.<br>
6. Bij bestellingen via de internetsite kan op de volgende manier worden betaald;<br>
* Betaling vooraf op bankrekening; de klant maakt het verschuldigde bedrag inclusief verzendkosten en eventuele kosten van extra services over op bankrekening nummer NL12ABNA.47.50.81.803 ten name van shirtsKV.nl te Heemskerk.<br>
* Betaling via I-deal.<br>
7. Overeenkomsten waarvoor enige verschuldigde betaling vier weken na de totstandkoming van de overeenkomst niet voldaan is, komen automatisch te vervallen.<br>
<br>
<b>Levering </b><br>
1. shirtsKV.nl heeft niet alle artikelen op voorraad. Bestellingen worden echter zo snel mogelijk afgeleverd.<br>
De maximale levertijd is 4 weken.<br>
De genoemde levertijden zijn indicatief en geldt nimmer als fatale termijn. Overschrijding van enige leveringstermijn geeft de klant geen recht op schadevergoeding en evenmin het recht de bestelling te annuleren dan wel de overeenkomst te ontbinden, tenzij de overschrijding van de leveringstermijn zodanig is dat van de klant redelijkerwijs niet kan worden verlangd dat de klant de overeenkomst in stand laat. De klant is in dat geval gerechtigd de bestelling te annuleren dan wel de overeenkomst te ontbinden voor zover dat noodzakelijk is. Eventueel al betaalde gelden zullen worden geretourneerd.<br>
2. Indien een product niet meer aanwezig is dat door de klant wordt besteld, zal worden aangegeven wanneer een soort gelijk product weer beschikbaar is. Vertragingen zullen aan de klant per e-mail of telefonisch worden gemeld.<br>
3. Levering vindt plaats op het door de koper tijdens de totstandkoming van de overeenkomst opgegeven adres.<br>
4. Bij leveringen in het buitenland kunnen afwijkende voorwaarden gelden.<br>
5. Producten kunnen mogelijk licht afwijken van het getoonde plaatje of productomschrijving. Geringe afwijkingen van de kleur of kleine wijzigingen of afwijkingen in het model, vorm of afmeting zijn mogelijk.<br>
<br>
<b>Eigendomsvoorbehoud </b><br>
1. De eigendom van producten gaat pas over, indien de klant al hetgeen dat op grond van enige overeenkomst aan shirtsKV.nl verschuldigd is, heeft voldaan. Het risico van de producten gaat over op het moment dat de producten door shirtsKV.nl aan de vervoerder is overgeleverd. shirtsKV.nl heeft de mogelijkheid het vervoer te verzekeren; hiervoor worden verzekeringskosten in rekening gebracht. De hoogte van de verzekeringskosten staat op de internetsite vermeld. Indien de klant in gebreke blijft de producten in ontvangst te nemen, zijn de hieruit voortvloeiende schade en kosten voor zijn/haar rekening. Eventuele retourzendingen aan shirtsKV.nl zijn voor rekening van de klant en moeten franco en onder schriftelijke opgaan van redenen geschieden.<br>
<br>
<b>Ruilen en herroepingrecht </b><br>
1. De klant is verplicht de producten bij aflevering nauwkeurig te onderzoeken of de producten aan de overeenkomst beantwoorden. De klant dient hierbij rekening te houden met geringe maat- en kleurverschillen van de op de internetsite afgebeelde producten. Indien de producten niet aan de overeenkomst beantwoorden, dient u shirtsKV.nl daarvan zo snel mogelijk en in ieder geval binnen zeven werkdagen na de aflevering te laten weten. Indien is aangetoond dat de producten niet aan de overeenkomst beantwoorden, heeft shirtsKV.nl de keuze het desbetreffende product tegen retournering te vervangen door een nieuwe product dan wel aan te passen of de factuurwaarde daarvan te restitueren.<br>
<br>
<b>Garantie en aansprakelijkheid </b><br>
1. shirtsKV.nl geeft 1 maand garantie op de aangekochte artikelen. Deze garantie geldt niet in het geval er sprake is van ondeskundig gebruik, opzet of grove onachtzaamheid.<br>
De toepasselijkheid van de garantie is ter beoordeling van shirtsKV.nl.<br>
2. shirtsKV.nl is nimmer gehouden tot betaling van enigerlei schadevergoeding aan de klant of anderen, tenzij er sprake is van opzet of grove schuld aan de kant van shirtsKV.nl. shirtsKV.nl is nimmer aansprakelijk voor gevolg- of bedrijfsschade, indirecte schade of schade veroorzaakt door gebruik van de producten op andere manieren dan de gebruiksfunctie van het product.<br>
3. Indien shirtsKV.nl, om welke reden dan ook, gehouden is enige schade te vergoeden, dan zal de schadevergoeding nooit hoger zijn dan een bedrag gelijk aan de factuurwaarde van het product.<br>
<br>
<b>Overmacht </b><br>
1. In geval van overmacht is shirtsKV.nl niet gehouden haar verplichtingen naar de klant na te komen, respectievelijk wordt de verplichting opgeschort voor de duur van de overmacht.<br>
2. Onder overmacht wordt verstaan; elke van haar wil onafhankelijke omstandigheid waardoor de nakoming van haar verplichtingen naar de klant geheel of gedeeltelijk wordt verhinderd. Tot die omstandigheden behoren onder meer; brand, bedrijfsstoringen, energiestoringen, niet of niet-tijdige levering van toeleveranciers of andere ingeschakelde derden en het ontbreken van enige van overheidswege te verkrijgen vergunning. Tevens wordt er onder overmacht verstaan; storingen in een (telecommunicatie) netwerk of verbinding of gebruikte communicatiesystemen en/of het op enig moment niet beschikbaar zijn van de internetsite.<br>
<br>
<b>Intellectueel eigendom </b><br>
1. De klant erkent uitdrukkelijk dat alle rechten van de weergegeven informatie, afbeeldingen, mededelingen of andere uitingen met betrekking tot de producten en/of met betrekking tot de internetsite berusten bij shirtsKV.nl.<br>
2. Onder intellectuele eigendomsrechten worden verstaan octrooi-, auteurs-, merkrechten en/of andere (intellectuele eigendoms) rechten.<br>
3. Alle afbeeldingen en ontwerpen van shirts, tassen, schilderijen of reproducties blijven eigendom van shirtsKV.nl, ongeacht of deze aan de consument of aan derden ter hand zijn gesteld, tenzij anders is overeengekomen.<br>
<br>
<br>
<b>Persoonsgegevens </b><br>
1. De gegevens die door de klant worde verstrekt, worden door shirtsKV.nl vertrouwelijk behandeld en gebruikt voor de volgende doeleinden;<br>
* Het verwerken van de bestelling, de betaling daarvan en de bezorging op het juiste afleveradres.<br>
2. shirtsKV.nl neemt daarbij de van toepassing zijnde privacyregel en wetgeving in acht.<br>
3. shirtsKV.nl verstrekt geen klantgegevens aan derden.<br>
<br>
<b>Toepasselijk recht en bevoegde rechter </b><br>
1. Op alle rechten, verplichtingen, aanbiedingen, bestellingen en overeenkomsten waarop deze Algemene Voorwaarden van toepassing zijn, evenals op deze Algemene Voorwaarden is uitsluitend Nederlands recht van toepassing.<br>
2. De toepasselijkheid van het Weens Koopverdrag wordt uitgesloten.<br>
3. Alle geschillen tussen partijen zullen bij uitsluiting worden voorgelegd aan de daartoe bevoegde rechter in Nederland.<br>
<br>
<b>Diversen </b><br>
1. shirtsKV.nl is gevestigd te Heemskerk, Kerklaan 13a, 1961 GA en geregistreerd bij de Kamer van Koophandel onder nr. 34303073. Het BTW- identificatienummer is NL1910.25.665.B01.<br>
2. Gelieve alle correspondentie te zenden aan shirtsKV.nl, Kerklaan 13a, 1961 GA, Heemskerk of naar het e-mail adres zoals staat aangegeven op de internetsite.<br>
3. Wanneer door shirtsKV.nl gedurende korte of langere tijd al dan niet stilzwijgend afwijkingen van deze Algemene Voorwaarden zijn toegestaan, laat dat onverlet haar recht alsnog directe en strikte naleving van deze Algemene Voorwaarden te eisen. De klant kan nimmer enig recht doen laten gelden op grond van het feit dat shirtsKV.nl deze Algemene Voorwaarden soepel toepast.<br>
4. Foto's zijn voor illustratieve doeleinden en kunnen enigszins afwijken van de werkelijkheid.<br>
<br>
shirtsKV.nl<br>
</p>
