<div style="position: absolute; left: 150px; top: 115px;">
<a href="../cartoon/index.html" onmouseover="dames_plaatje.src='../images/subbuttons/schilderijen-cartoon.png';" onmouseout="dames_plaatje.src='../images/subbuttons/schilderijen-cartoon.png';"><img name="dames_plaatje" src="../images/subbuttons/schilderijen-cartoon.png" border=0 alt="cartoon" title=""></a>
</div>

<div style="position: absolute; left: 290px; top: 115px;">
<a href="../fantjes/index.html" onmouseover="dames_plaatje.src='../images/subbuttons/schilderijen-fant.png';" onmouseout="dames_plaatje.src='../images/subbuttons/schilderijen-fant.png';"><img name="dames_plaatje" src="../images/subbuttons/schilderijen-fant.png" border=0 alt="fant" title=""></a>
</div>

<div style="position: absolute; left: 385px; top: 115px;">
<a href="../naakt/index.html" onmouseover="kinder_plaatje.src='../images/subbuttons/schilderijen-naakt.png';" onmouseout="kinder_plaatje.src='../images/subbuttons/schilderijen-naakt.png';"><img name="kinder_plaatje" src="../images/subbuttons/schilderijen-naakt.png" border=0 alt="naakt" title=""></a>
</div>

<div style="position: absolute; left: 495px; top: 115px;">
<a href="../poezen/index.html" onmouseover="kleuter_plaatje.src='../images/subbuttons/schilderijen-poezen.png';" onmouseout="kleuter_plaatje.src='../images/subbuttons/schilderijen-poezen.png';"><img name="kleuter_plaatje" src="../images/subbuttons/schilderijen-poezen.png" border=0  title="" alt="poezen"></a>
</div>

<div style="position: absolute; left: 620px; top: 115px;">
<a href="../stof/index.html" onmouseover="kleuter_plaatje.src='../images/subbuttons/schilderijen-opstof.png';" onmouseout="kleuter_plaatje.src='../images/subbuttons/schilderijen-opstof.png';"><img name="kleuter_plaatje" src="../images/subbuttons/schilderijen-opstof.png" border=0  title="" alt="poezen"></a>
</div>
