<div style="position: absolute; left: 150px; top: 115px;">
<a href="../dames.html" onmouseover="dames_plaatje.src='../images/subbuttons/shirts-girls.png';" onmouseout="dames_plaatje.src='../images/subbuttons/shirts-girls.png';"><img name="dames_plaatje" src="../images/subbuttons/shirts-girls.png" border=0 alt="shirts-dames"  title=""></a>
</div>

<div style="position: absolute; left: 255px; top: 115px;">
<a href="../heren.html" onmouseover="heren_plaatje.src='../images/subbuttons/shirts-boys.png';" onmouseout="heren_plaatje.src='../images/subbuttons/shirts-boys.png';"><img name="heren_plaatje" src="../images/subbuttons/shirts-boys.png" border=0 alt="shirts-heren"  title=""></a>
</div>

<div style="position: absolute; left: 345px; top: 115px;">
<a href="../kindershirts/index.html" onmouseover="kinder_plaatje.src='../images/subbuttons/shirts-junior.png';" onmouseout="kinder_plaatje.src='../images/subbuttons/shirts-junior.png';"><img name="kinder_plaatje" src="../images/subbuttons/shirts-junior.png" border=0 alt="shirts-kinder"  title=""></a>
</div>

<div style="position: absolute; left: 455px; top: 115px;">
<a href="../kleutershirts/index.html" onmouseover="kleuter_plaatje.src='../images/subbuttons/shirts-kleuters.png';" onmouseout="kleuter_plaatje.src='../images/subbuttons/shirts-kleuters.png';"><img name="kleuter_plaatje" src="../images/subbuttons/shirts-kleuters.png" border=0 alt="shirts-kleuter"  title=""></a>
</div>

<div style="position: absolute; left: 590px; top: 115px;">
<a href="../baby.html" onmouseover="baby_plaatje.src='../images/subbuttons/shirts-baby.png';" onmouseout="baby_plaatje.src='../images/subbuttons/shirts-baby.png';"><img name="baby_plaatje" src="../images/subbuttons/shirts-baby.png" border=0 alt="shirts-baby" title=""></a>
</div>

<div style="position: absolute; left: 700px; top: 115px;">
<a href="../eigenshirt.html" onmouseover="baby_plaatje.src='../images/subbuttons/shirts-eigen.png';" onmouseout="baby_plaatje.src='../images/subbuttons/shirts-eigen.png';"><img name="baby_plaatje" src="../images/subbuttons/shirts-eigen.png" border=0 alt="shirts-baby" title=""></a>
</div>

