

<!--
<div id="loginLayer" style="position: absolute; left: 200px; top: 100px; width:550px; height:220px; border:1px double #000;background-color:#AAA;visibility:hidden ">
<p>
<br>
&nbsp;<b>Inloggen</b><br>
<br>
&nbsp;<small>Geregistreerde gebruikers kunnen hier inloggen. <br>
&nbsp;Het is echter niet vereist om in te loggen om artikelen te bestellen!</small>
<br>
<br>

<form name="loginForm">
<table>
<tr>
<td>Gebruikersnaam</td><td>:</td><td><input type="text" id="username" name="username" size=30></td>
</tr>
<tr>
<td>Wachtwoord</td><td>:</td><td><input type="password" id="password" name="password" size=30></td>
</tr>
</table>
</form>

&nbsp;<a href="#" onclick="login();"><img src="../images/knop_inloggen.png" border=0></a>
<a href="#" onclick="document.getElementById('loginLayer').style.visibility = 'hidden';"><img src="../images/knop_sluit.png" border=0></a>
<br>
<br>
</p>
</div>
-->

</div>

</body>
</html>
