<p>
ShirtsKV.nl heeft niet alle artikelen op voorraad. Bestellingen worden echter zo snel mogelijk afgeleverd met een maximale levertijd van 4 weken.<br>
<br>
De volgende verzendkosten wordt gehanteerd:<br>
Shirts en kleine tassen: 2,5 euro<br>
Truien en grote tassen: 6,5 euro<br>
Origineel schilderij: 10 euro<br>
Reproductie t/m 80 cm (langste zijde): 8 euro<br>
Reproductie groter dan 80 cm (langste zijde): 27 euro<br>
<br>
De verzendkosten zijn direct te zien in het winkelmandje.<br><br>
<br>
Producten kunnen mogelijk licht afwijken van het getoonde plaatje of productomschrijving. Geringe afwijkingen van de kleur of kleine wijzigingen of afwijkingen in het model, vorm of afmeting zijn mogelijk.<br>
<br>
U heeft de mogelijkheid om tegen een tarief van 7,96 euro de bestelling verzekerd te versturen, neem hiervoor contact op met shirtsKV nadat u de bestelling geplaats hebt. Wij kunnen de bestelling dan aanpassen en opnieuw versturen voordat u betaald heeft.<br>

</p>
