<p>
De prijzen zoals vermeld op de website zijn inclusief BTW en exclusief verzendkosten en gelden alleen binnen Nederland.<br>
Voor buitenlandse zendingen dient u contact op te nemen met ShirtsKV.nl.<br>
De geldende prijzen worden bij ieder artikel vermeld. Eventuele fouten zijn voorbehouden.<br>
<br>
Betaling dient vooraf gedaan te worden via een overboeking of via iDeal, deze betalingsgegevens worden per email verstuurd na het bevestigen van de bestelling.<br>
<br>
U heeft de mogelijkheid om tegen een tarief van 7,96 euro de bestelling verzekerd te versturen, neem hiervoor contact op met shirtsKV nadat u de bestelling geplaats hebt. Wij kunnen de bestelling dan aanpassen en opnieuw versturen voordat u betaald heeft.<br>
</p>
