<p>
Er zijn twee soorten doeken die aangeboden worden:<br>
<br>
<b>Originele schilderijen:</b><br>
Elk schilderij is uniek en wordt maar 1 keer verkocht.<br>
U bent dus verzekerd van een uniek exemplaar.<br>
Van deze schilderijen worden echter ook reproducties verkocht.<br>
<br>
<b>Reproducties:</b><br>
Van de schilderijen worden digitale versies op de computer gemaakt en bewerkt.<br>
Op de computer wordt het originele schilderij gevectoriseerd en opgestrakt.<br>
De kleuren en vormen van de reproductie zijn dus egaler en ronder dan het originele schilderij.<br>
Deze reproductie wordt door een speciaal bedrijf geprint op canvas. Dit kan op verschillende maten.<br>
Reproducties van schilderijen kunnen onbeperkt bijbesteld worden.<br>
<br>
De reproducties worden op canvas geprint en opgespannen op een 2 cm dik stevig houten frame.<br>
De reproducties zijn zonlichtbestendig (UV-bestendig) en blijven jarenlang kleurecht.
</p>
