<p>
<b>Heren shirt informatie (regular shirts):</b><br>
160grams/m²<br>
100% ringgesponnen katoen, rondgebreid, voorzien van nekband voor beter draagcomfort,
dubbeldraads stikwerk aan kraag, armen en boord.
<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl<br>
xxl
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
67 cm hoog, 46 cm breed<br>
69 cm hoog, 49 cm breed<br>
71 cm hoog, 56 cm breed<br>
75 cm hoog, 60 cm breed<br>
76 cm hoog, 65 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_heren.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
