<p>
<b>Effe kleuren trui:</b><br>
270 grams/m²<br>
50% katoen - 50% polyester, open einde garen, dubbel laags capuchon, ingezette mouwen, opgezette buidelzak, manchetten met elastiek bij de armen en onderboord, rondgebreid model.<br>
</p>
<table>
<tr><td colspan=2><b>Trui maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
61 cm hoog, 48 cm breed<br>
66 cm hoog, 56 cm breed<br>
70 cm hoog, 60 cm breed<br>
70 cm hoog, 62 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_trui.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
