<p>
<b>Kinder shirt informatie:</b><br>
160 grams/m²
100% ringgesponnen katoen, ribgebreide rand bij de hals, dubbeldraads gestikt bij de kraag, armen en onderboord, rondgebreid model.
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
xs: maat 110-116<br>
s: maat 122-128<br>
m: maat 134-140<br>
l: maat 146<br>
xl: maat 152
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
45 cm hoog, 35 cm breed<br>
49 cm hoog, 37 cm breed<br>
53 cm hoog, 42 cm breed<br>
56 cm hoog, 42 cm breed<br>
59 cm hoog, 44 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_junior.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
