<p>
<b>2 kleuren trui:</b><br>
280 grams/m²<br>
70% katoen/30% polyester, dubbel laags capuchon met kontrastgekleurd reigkoord, nekband voor beter draagcomfort, kontrast gekleurde mouwen met decoratieve stiksels, voorzien van zijnaden, opgezette buidelzak, ribgebreide armmanchetten en onderboord.<br>
</p>
<table>
<tr><td colspan=2><b>Trui maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
60 cm hoog, 49 cm breed<br>
66 cm hoog, 55 cm breed<br>
70 cm hoog, 55 cm breed<br>
72 cm hoog, 60 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_trui.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
