<p>
<b>Dames shirt informatie:</b><br>
205 grams/m²<br>
100% ringgesponnen katoen (bij grijs: 94% katoen, 6% Acryl), V-hals, voorzien van nekband voor beter draagcomfort, strak gesneden model met zijnaden.<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
xs<br>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
52 cm hoog, 34 cm breed<br>
53 cm hoog, 36 cm breed<br>
56 cm hoog, 38 cm breed<br>
57 cm hoog, 40 cm breed<br>
61 cm hoog, 45 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_dames.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
