<p>
<b>Kleuter shirt informatie:</b><br>
180 grams/m²<br>
100 % katoenen T-shirt voor kleuters met dubbeldraads gestikte afwerking bij hals, arminzet en onderboord.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
m: voor kinderen van 2 jaar (maat 86-92)<br>
l: voor kinderen van 3 jaar (maat 92-98)<br>
xl: voor kinderen van 4 jaar (maat 98-104)
</td>
<td>
:<br>
:<br>
:
</td><td>
36 cm hoog, 30 cm breed<br>
37 cm hoog, 30 cm breed<br>
41 cm hoog, 32 cm breed
</td></tr>
</table>
<img src="../images/maattabel_kleuter.png" width=150 border=0 alt="maattabel"  title="">

</td>
</tr>
</table>
</p>
