<p>
<b>Baby tshirt-rompertje informatie:</b><br>
180 grams/m²<br>
100 % katoen, baby T-shirt welke is dubbelgestikt bij de hals, armeninzet en onderzoom.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s: voor babies tot 6 maanden (maat 74-80)<br>
m: voor babies tot 12 maanden (maat 80-86)<br>
l: voor babies tot 18 maanden (maat 92)<br>
xl: voor babies tot 24 maanden (maat 98)
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
39 cm hoog, 26 cm breed<br>
42 cm hoog, 26 cm breed<br>
45 cm hoog, 28 cm breed<br>
48 cm hoog, 31 cm breed
</td></tr>
</table>
</td>
</tr>
</table>
<img src="../images/maattabel_romper.png" width=150 border=0 alt="maattabel"  title="">
</div>

