<p>
<b>Heren shirt informatie (slim-fit shirts):</b><br>
160 grams/m²<br>
100 % ringgesponnen, gekamde Katoen, (Grijs: 85% Katoen, 15% Viscose), modieus gebreid met een ronde hals en korte mouwen, getailleerd model, voorzien van zijnaden.<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
m<br>
l<br>
xl<br>
xxl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
67 cm hoog, 42 cm breed<br>
68 cm hoog, 45 cm breed<br>
71 cm hoog, 47 cm breed<br>
76 cm hoog, 53 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_heren.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>
