<p>
<b>Dames shirt informatie:</b><br>
205 grams/m²<br>
100% ringgesponnen katoen (bij grijs: 94% katoen, 6% Acryl), V-hals, voorzien van nekband voor beter draagcomfort, strak gesneden model met zijnaden.<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
xs<br>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
52 cm hoog, 34 cm breed<br>
53 cm hoog, 36 cm breed<br>
56 cm hoog, 38 cm breed<br>
57 cm hoog, 40 cm breed<br>
61 cm hoog, 45 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_dames.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>

<br><hr><br>

<p>
<b>Heren shirt informatie (regular shirts):</b><br>
160grams/m²<br>
100% ringgesponnen katoen, rondgebreid, voorzien van nekband voor beter draagcomfort,
dubbeldraads stikwerk aan kraag, armen en boord.
<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl<br>
xxl
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
67 cm hoog, 46 cm breed<br>
69 cm hoog, 49 cm breed<br>
71 cm hoog, 56 cm breed<br>
75 cm hoog, 60 cm breed<br>
76 cm hoog, 65 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_heren.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>

<br><hr><br>

<p>
<b>Heren shirt informatie (slim-fit shirts):</b><br>
160 grams/m²<br>
100 % ringgesponnen, gekamde Katoen, (Grijs: 85% Katoen, 15% Viscose), modieus gebreid met een ronde hals en korte mouwen, getailleerd model, voorzien van zijnaden.<br>
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
m<br>
l<br>
xl<br>
xxl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
67 cm hoog, 42 cm breed<br>
68 cm hoog, 45 cm breed<br>
71 cm hoog, 47 cm breed<br>
76 cm hoog, 53 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_heren.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>

<br><hr><br>

<p>
<b>Kinder shirt informatie:</b><br>
160 grams/m²
100% ringgesponnen katoen, ribgebreide rand bij de hals, dubbeldraads gestikt bij de kraag, armen en onderboord, rondgebreid model.
</p>
<table>
<tr><td colspan=2><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
xs: maat 110-116<br>
s: maat 122-128<br>
m: maat 134-140<br>
l: maat 146<br>
xl: maat 152
</td>
<td>
:<br>
:<br>
:<br>
:<br>
:
</td><td>
45 cm hoog, 35 cm breed<br>
49 cm hoog, 37 cm breed<br>
53 cm hoog, 42 cm breed<br>
56 cm hoog, 42 cm breed<br>
59 cm hoog, 44 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_junior.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>
</p>

<br><hr><br>

<p>
<b>Kleuter shirt informatie:</b><br>
180 grams/m²<br>
100 % katoenen T-shirt voor kleuters met dubbeldraads gestikte afwerking bij hals, arminzet en onderboord.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
m: voor kinderen van 2 jaar (maat 86-92)<br>
l: voor kinderen van 3 jaar (maat 92-98)<br>
xl: voor kinderen van 4 jaar (maat 98-104)
</td>
<td>
:<br>
:<br>
:
</td><td>
36 cm hoog, 30 cm breed<br>
37 cm hoog, 30 cm breed<br>
41 cm hoog, 32 cm breed
</td></tr>
</table>
<img src="../images/maattabel_kleuter.png" width=150 border=0 alt="maattabel"  title="">

</td>
</tr>
</table>
</p>

<br><hr><br>

<p>
<b>Baby shirt informatie:</b><br>
180 grams/m²<br>
100 % katoen, baby T-shirt welke is dubbelgestikt bij de hals, armeninzet en onderzoom.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s: voor babies tot 6 maanden (maat 68)<br>
m: voor babies tot 12 maanden (maat 74)<br>
l: voor babies tot 18 maanden (maat 80)<br>
xl: voor babies tot 24 maanden (maat 86)
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
30 cm hoog, 26 cm breed<br>
32 cm hoog, 27 cm breed<br>
33 cm hoog, 27 cm breed<br>
37 cm hoog, 29 cm breed
</td></tr>
</table>
</td>
</tr>
</table>
<img src="../images/maattabel_baby_Tshirts.png" width=150 border=0 alt="maattabel"  title="">
</p>

<br><hr><br>

<p>
<b>Baby tshirt rompertje informatie:</b><br>
180 grams/m²<br>
100 % katoen, baby T-shirt welke is dubbelgestikt bij de hals, armeninzet en onderzoom.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s: voor babies tot 6 maanden (maat 74-80)<br>
m: voor babies tot 12 maanden (maat 80-86)<br>
l: voor babies tot 18 maanden (maat 92)<br>
xl: voor babies tot 24 maanden (maat 98)
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
39 cm hoog, 26 cm breed<br>
42 cm hoog, 26 cm breed<br>
45 cm hoog, 28 cm breed<br>
48 cm hoog, 31 cm breed
</td></tr>
</table>
</td>
</tr>
</table>
<img src="../images/maattabel_romper.png" width=150 border=0 alt="maattabel"  title="">

<br><hr><br>

<p>
<b>2 kleuren trui:</b><br>
280 grams/m²<br>
70% katoen/30% polyester, dubbel laags capuchon met kontrastgekleurd reigkoord, nekband voor beter draagcomfort, kontrast gekleurde mouwen met decoratieve stiksels, voorzien van zijnaden, opgezette buidelzak, ribgebreide armmanchetten en onderboord.<br>
</p>
<table>
<tr><td colspan=2><b>Trui maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
60 cm hoog, 49 cm breed<br>
66 cm hoog, 55 cm breed<br>
70 cm hoog, 55 cm breed<br>
72 cm hoog, 60 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_trui.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>

</p>

<br><hr><br>

<p>
<b>Effe kleuren trui:</b><br>
270 grams/m²<br>
50% katoen - 50% polyester, open einde garen, dubbel laags capuchon, ingezette mouwen, opgezette buidelzak, manchetten met elastiek bij de armen en onderboord, rondgebreid model.<br>
</p>
<table>
<tr><td colspan=2><b>Trui maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s<br>
m<br>
l<br>
xl
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
61 cm hoog, 48 cm breed<br>
66 cm hoog, 56 cm breed<br>
70 cm hoog, 60 cm breed<br>
70 cm hoog, 62 cm breed
</td></tr>
</table>
</td>
<td>
<img src="../images/maattabel_trui.png" width=150 border=0 alt="maattabel"  title="">
</td>
</tr>
</table>

</p>

