<p>
<b>Baby shirt informatie:</b><br>
180 grams/m²<br>
100 % katoen, baby T-shirt welke is dubbelgestikt bij de hals, armeninzet en onderzoom.<br>
</p>
<table>
<tr><td colspan=1><b>Shirt maten:</b></td></tr>
<tr>
<td valign=top>
<table>
<tr>
<td>
s: voor babies tot 6 maanden (maat 68)<br>
m: voor babies tot 12 maanden (maat 74)<br>
l: voor babies tot 18 maanden (maat 80)<br>
xl: voor babies tot 24 maanden (maat 86)
</td>
<td>
:<br>
:<br>
:<br>
:
</td><td>
30 cm hoog, 26 cm breed<br>
32 cm hoog, 27 cm breed<br>
33 cm hoog, 27 cm breed<br>
37 cm hoog, 29 cm breed
</td></tr>
</table>
</td>
</tr>
</table>
<img src="../images/maattabel_baby_Tshirts.png" width=150 border=0 alt="maattabel"  title="">
</p>
