<p>
Er zijn twee soorten schoudertassen die aangeboden worden:<br>
<br>
<b>Grote schoudertassen:</b><br>
100% Canvas Katoen, Rip Strip klittenbandsluiting, antiek bronskleurige klemmen, verstelbare schouderband gemaakt van jacquard materiaal,
hoofdcompartiment met ritssluiting, compartimenten op achterzijde, verstevigde onderkant, geschikt om te borduren, Inhoud: 14 Liter, <br>
Afmeting: 40 x 30 x 12 cm.<br>
<br>
<b>Kleine schoudertassen:</b><br>
100 % Gewassen Canvas Katoen, verstelbare schouderband met antieke (klem)sluitingen, Organiser indeling, voorsluiting met Rip-Strip sluiting,
zijvak met ritssluiting. Inhoud: 5 Liter Afmeting: 22 x 26 x 11 cm.
<br>
</p>
