<html>
<head>
<title>Overboeking</title>

<!--
omschrijving:{DESCRIPTION}
overboekingnr:{OVERBOEKINGNR}
datum:{DATUM}
price:{PRICE}
-->



<style>
BODY{
  background-image:url("http://www.shirtskv.nl/images/logo.gif");
  background-position: top left;
  background-repeat: no-repeat
}

/* Default fields */
td, th, p, ul, ol, li, sub, sup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px}

#header, #footer {
  display: none;
  }


</style>

</head>
<body>
<br>
<br>
<br>
<br>
<br>
<table><tr><td>

<b><font size=5>OVERBOEKING</font></b><br>
</td></tr></table>
<hr>
<table><tr><td>
<b>Overboekings Nummer: {OVERBOEKINGNR} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datum: {DATUM}<br></b>
</td></tr></table>
<hr>

<table>
<tr>
<td><b>Omschrijving:</b></td>
<td>{DESCRIPTION}</td>
</tr><tr>
<td><b>Totaal bedrag:</b></td>
<td>{PRICE}</td>
</tr><tr>
</table>



</td>
</tr></table>

</body>
</html>
