<html>
<head>
<title>ShirtsKV betaling</title>
</head>
<body>

<style type="text/css">
	label {width: 120px; text-align: left;}
	button.iDEALeasy {background-color: #FFFFFF;}
</style>

<form method="post" action="https://internetkassa.abnamro.nl/ncol/prod/orderstandard.asp" id="form1" name="form1">
<input type="hidden" name="PSPID" value="SHIRTSKV" />
<input type="hidden" name="orderID" value="{ORDER}" />
<input type="hidden" name="amount" value="{PRICE}" />
<input type="hidden" name="currency" value="EUR" />
<input type="hidden" name="language" value="NL_NL" />
<input type="hidden" name="COM" value="Bestelling {ORDER}" />
<input type="hidden" name="CN" value="{CUSTOMERNAME}"/>
<input type="hidden" name="PM" value="iDEAL" />
<button class="iDEALeasy" type="submit" name="submit1" value="submit">
Druk op de onderstaande knop om de bestelling met iDEAL te betalen.<br />
<img src="https://internetkassa.abnamro.nl/images/iDEAL_easy.gif" alt="iDEAL"  />
</button>
</form>

<script type="text/javascript">
form1.submit();
</script>

</body>
</html>
