
%GLOBAL_HEADER%

<div id="scroller" >

<p>
<b>Welkom bij de webshop van shirtsKV.nl!</b><br>
<br>
Klik op de knoppen om de artikelen te bekijken en te bestellen.
Alle prijzen zijn incl. BTW en excl. verzendkosten.<br>
<br>

</p>


<table>
<tr>
<td width=250>
<a href="damesshirts/index.html">
<img src="../images/indexknoppen/button_damesshirts.png" border=0 alt="shirts-Vis" width=200 title=""><br>
</a>
</td>

<!--<td width=250>-->
<!--<a href="herenshirtsslimfit/index.html">-->
<!--<img src="../images/indexknoppen/button_herenshirts_s.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<td width=250>
<a href="herenshirtsregular/index.html">
<img src="../images/indexknoppen/button_herenshirts_r.png" border=0 alt="shirts-Vis" width=200 title=""><br>
</a>
</td>


</tr>
<!--<tr>-->

<!--<td width=250>-->
<!--<a href="kindershirts/index.html">-->
<!--<img src="../images/indexknoppen/button_junior.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=250>-->
<!--<a href="kleutershirts/index.html">-->
<!--<img src="../images/indexknoppen/button_kleuter.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=250>-->
<!--<a href="babyshirts/index.html">-->
<!--<img src="../images/indexknoppen/button_babyshirts.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--</tr>-->

    <!--<tr>-->

<!--<td width=200>-->
<!--<a href="babyrompers/index.html">-->
<!--<img src="../images/indexknoppen/button_rompers.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=200>-->
<!--<a href="eigenshirt.html">-->
<!--<img src="../images/indexknoppen/button_eigenkleding.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=200>-->
<!--<a href="spreukenboekje/spreukenboekje.html">-->
<!--<img src="../images/indexknoppen/button_spreuken.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--</tr>-->
<tr>



<!--<td width=200>-->
<!--<a href="fantjes/index.html">-->
<!--<img src="../images/indexknoppen/button_fantjes.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=200>-->
<!--<a href="naakt/index.html">-->
<!--<img src="../images/indexknoppen/button_naakt.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--</tr>-->
<!--<tr>-->

<!--<td width=200>-->
<!--<a href="poezen/index.html">-->
<!--<img src="../images/indexknoppen/button_poezen.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->

<!--<td width=200>-->
<!--<a href="stof/index.html">-->
<!--<img src="../images/indexknoppen/button_stof.png" border=0 alt="shirts-Vis" width=200 title=""><br>-->
<!--</a>-->
<!--</td>-->



</tr>

</table>

</p>

<br>
<br>

</div>


%GLOBAL_FOOTER%

