
%GLOBAL_HEADER%

%ALLTASSEN_HEADER%

<div id="scroller" >

<br><br><br><br>
<table>


<tr>

<td width=70>
&nbsp;
</td>

<td width=200>
<a href="grotetas/index.html">
<img src="../images/indexknoppen/button_tassen-groot.png" border=0 alt="shirts-Vis" width=200 title=""><br>
</a>
</td>

<td width=70>
&nbsp;
</td>

<td width=200>
<a href="kleinetas/index.html">
<img src="../images/indexknoppen/button_tassen-klein.png" border=0 alt="shirts-Vis" width=200 title=""><br>
</a>
</td>



</tr>


</table>

</p>
</div>


%GLOBAL_FOOTER%

