<HTML>
<HEAD>
<TITLE>ShirtsKV declaraties</TITLE>
</HEAD>

<style>

/* Default fields */
td, th, p, ul, ol, li, sub, sup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px}

#header, #footer {
  display: none;
  }


</style>


<body>

<p>

<a href="admin.html">Orderbeheer</a><br>
<a href="faktuuroverzicht.html">Financiele administratie</a><br>
<a href="scripts/printBestellingen2.php">Nieuwe en gefactureerde bestellingen</a><br>
<a href="scripts/printBestellingen.php">T-shirt bestellingen</a><br>
<a href="scripts/voorraad/voorraad_overzicht.php">Voorraad</a><br>
<a href="scripts/voorraad/bestelling_overzicht.php">RDPP Bestellingen</a><br>
<a href="verzend_nieuwsbrief.html">Nieuwsbrieven</a><br>
<a href="scripts/bank/mutaties_overzicht.php">Bank afschriften</a><br>


</p>

</body>

</HTML>
