<HTML>
<HEAD>
<TITLE>Nieuw</TITLE>

<style>

/* Default fields */
td, th, p, ul, ol, li, sub, sup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px}

#header, #footer {
  display: none;
  }


</style>


<SCRIPT TYPE="text/javascript">
<!--

function TestDataCheck()
{
document.input.price.value = document.input.price.value.replace (",", ".");
return true;
}
// -->
</SCRIPT>

</HEAD>

<BODY class="background" bgcolor="#FFFFFF"  >
<p>
<form name="input" action="scripts/addOverboeking.php" method="get" onSubmit="return TestDataCheck()">

<table>
<td>Omschrijving</td><td>: <input type="text" name="omschrijving"> </tr><tr>
<td>Totaal bedrag</td><td>: <input type="text" name="price"> (positief bedrag=Bijschrijving, negatief bedrag=Afschrijving) </tr><tr>
</tr>
</table>

<input type="hidden" name="order"> <br>
<input type="submit" value="Submit">
</form>


</p>
</BODY>
</HTML>

