<HTML>
<HEAD>
<TITLE>ShirtsKV declaraties</TITLE>
</HEAD>

<style>

/* Default fields */
td, th, p, ul, ol, li, sub, sup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px}

#header, #footer {
  display: none;
  }


</style>


<body>

<p>

<br>
Let op, zorg dat de email template klaar staat in /admin/data/email_nieuwsbrieven/template.html<br>
Het subject staat in /admin/data/email_nieuwsbrieven/subject.txt<br>
Na het versturen kan deze verplaats worden in de 'verstuurd' mapje.
<br>
<br>
<a href="scripts/email_nieuwsbrief.php?what=test">[Verzend test email naar robbert@vdzon.com]</a><br>
<br>
<br>
<a href="scripts/email_nieuwsbrief.php?what=all">[Verzend email naar iedereen in de mailing lijst]</a><br>
</p>

</body>

</HTML>
